
<head>
    <link rel="stylesheet" type="text/css" href="/static/content/form.css" />
</head>
<div class="form-group" autocomplete="off" role="main">
    <h2 class="a11y-hidden">Veryfi Amount Recognition (URL)</h2>

    <div>
        <label class="label">
            <input type="text" class="text" name="text" placeholder="URL" id="inputurl" required />
        </label>
    </div>
    <input type="button" onclick="submit()" value="Submit" />
    <h3>Returned Data</h3>
    <div>
        <textarea id="output" readonly></textarea>
    </div>
    <div>
        <p class="text-justify" id="outcomeTag"></p>
    </div>
    <div>
        <p class="text-justify" id="outcomeUpload"></p>
    </div>
</div>
<div id="spinner"></div>

<div>
    <img id="preview" />
</div>



<script src="/static/scripts/jquery-1.10.2.js"></script>
<script>

    function showSpinner() {
        spinner.className = "show";
    }

    function hideSpinner() {
            spinner.className = spinner.className.replace("show", "");
    }


    function submit() {
        showSpinner()
        var urlinput = document.getElementById("inputurl")
        var output = document.getElementById("output")
        var outcomeTag = document.getElementById("outcomeTag")
        var outcomeUpload = document.getElementById("outcomeUpload")

        output.innerHTML = ""
        outcomeUpload.innerHTML = ""
        outcomeTag.innerHTML = ""
        var input = {
            url: urlinput.value
        }
        try {
            $.ajax({
                data: input,
                type: 'POST',
                url: `${window.origin}/veryfi/getamount`
            }).done(function (data) {
                if (data.error) {
                    outcomeTag.append(data.error)
                    hideSpinner()
                }
                else {
                    output.append('The total price is: '+data)
                    outcomeTag.append("Successfully got receipt details")
                    hideSpinner()
                }
            })
        } catch (Exception) {
            outcome.append("Error")
            hideSpinner()
        }
    }
</script>