<<head>
    <link rel="stylesheet" type="text/css" href="/static/content/clarifai.css" />
</head>
 <nav>
     <!-- <a href="uploadbytes">Upload using Bytes</a> -->
     <a href="uploadurl">Upload using URL</a>
     <!--<a href="predictbytes">Predict using Bytes</a>-->
     <a href="predicturl">Predict Receipt using URL</a>
 </nav>

<a href="https://www.youtube.com/channel/UC7hSS_eujjZOEQrjsda76gA/videos" target="_blank" id="ytd-url">My YouTube Channel</a>

<!--<head>
    <link rel="stylesheet" type="text/css" href="/static/content/clarifai.css" />
</head>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <form method="get" action="javascript: void(0);" id="uploadform1" class="form-group" autocomplete="off" role="main">
                <h2 class="a11y-hidden">Clarifai API Upload and Get tags (Bytes)</h2>

                <div>
                    <label for="img">Select image:</label>
                    <input type="file" id="img" name="img" accept="image/*" tabindex="1" required>
                </div>
                <input type="submit" value="Upload" />

                <div>
                    <input type="button" id="preview1" value="Preview" />
                </div>
                <div>
                    <textarea id="output1">
            </textarea>
                </div>

            </form>
        </div>
        <div class="col-xs-6">
            <form method="get" action="javascript: void(0);" id="uploadform2" class="form-group" autocomplete="off" role="main">
                <h2 class="a11y-hidden">Clarifai API Upload and Get tags (URL)</h2>

                <div>
                    <label class="label">
                        <input type="text" class="text" name="text" placeholder="URL" tabindex="2" required />
                        <span class="required">URL</span>
                    </label>
                </div>
                <input type="submit" value="Upload" />

                <div>
                    <input type="button" id="preview2" value="Preview" />
                </div>
                <div>
                    <textarea id="output2">
            </textarea>
                </div>
            </form>
        </div>

        <div class="col-xs-6">
            <form method="get" action="javascript: void(0);" id="predictform" class="form-group" autocomplete="off" role="main">
                <h2 class="a11y-hidden">Clarifai Receipt Predict (Bytes)</h2>

                <div>
                    <label for="img">Select image:</label>
                    <input type="file" id="img" name="img" accept="image/*" tabindex="1" required>
                </div>
                <input type="submit" value="Upload" />

                <div>
                    <input type="button" id="preview3" value="Preview" />
                </div>
                <div>
                    <textarea id="output3">
            </textarea>
                </div>
            </form>
        </div>

        <div class="col-xs-6">
            <form method="get" action="javascript: void(0);" id="predictform2" class="form-group" autocomplete="off" role="main">
                <h2 class="a11y-hidden">Clarifai Receipt Predict (URL)</h2>

                <div>
                    <label class="label">
                        <input type="text" class="text" name="text" placeholder="URL" tabindex="2" required />
                        <span class="required">URL</span>
                    </label>
                </div>
                <input type="submit" value="Upload" />

                <div>
                    <input type="button" id="preview4" value="Preview" />
                </div>
                <div>
                    <textarea id="output4">
            </textarea>
                </div>
            </form>
        </div>
    </div>
</div>

    <script>

    </script>-->
